.yui-skin-sam .yui-console-entry-pass {
	background-color: green;
}
.yui-skin-sam .yui-console-entry-fail {
	background-color: red;
}
body {
	background-color: beige;
}
textarea {
	font-family: jomolhari;
	font-size: 150%;
}